* {
    margin: 0;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
nav {
    width: 50%;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
} 
nav ul li a {
    display: block;
    float: left;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    background-color: black;
    color: white;
}
section {
    padding: 10px;
}
#blog {
    width: 50%;
    margin: 0 auto;
}
#articulo img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
#articulo p {
    margin-top: 10px;
}
#articulo #fecha {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}